body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c0c0c0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btns {
  width: 50px;
  height: 50px;
  margin: 15px;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #0096ff;
  font-weight: bolder;
  text-align: center;
  align-items: initial;
  background-color: #797979;
}
.clear {
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  width: 90%;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #0096ff;
  font-weight: bolder;
}
.row {
  display: flex;
  text-align: center;
  justify-content: center;
}
.container {
  background-color: white;
  height: 20%;
  width: 100%;
}
